<h1>Добавить объявление</h1>

<%= render 'form', logistic: @logistic %>

<p><%= link_to 'Назад', logistics_path %></p>
 <style>
   /* Стили для заголовка */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Цвет текста */
  text-align: center; /* Выравнивание по центру */
  margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для ссылки "Назад" */
p a {
  font-size: 16px;
  color: #007bff; /* Цвет ссылки */
  text-decoration: none; /* Убираем подчеркивание */
}

/* Стили для ссылки "Назад" при наведении */
p a:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении */
}
  </style>